{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about-section ">

  <div class="about-image-container ">
    <img src="{% static 'img/me.jpg' %}" alt="my logo">
  </div>

  <div class="about-description-container center-column" >

    <div class="center-column">
      <h1>Full Stack Developer</h1>
      <h2>Cesar Cordova Contreras</h2>
    </div>

    <p>
      I am a proactive person and I possess outstanding teamwork skills, always being responsible, organized and creative. 
      My goal is to excel as a Full Stack Developer, providing innovative and effective solutions in each project. I am committed to constantly updating and improving my technical skills and knowledge.
    </p>

  <div class="skill-list center-column">
    <h2>My skills</h2>

    <div class="tags-container">
      <label>Java Script </label>
      <label>Node JS</label>
      <label>React JS</label>
      <label>Express JS</label>
      <label>Postgre sql</label>
      <label>Vite JS</label>
      <label>Contributor</label>
      <label>Empathetic</label>
      <label>Organized</label>
    </div>

  </div>
</div>

</section>

<!-- Project section -->
<section class="project-section center-column">
  <h2>Projects</h2>
  <div class="projects-container">
      <div class="project-card">
          <img src="{% static 'img/project1.png' %}" alt="Project image">
          <div class="project-info">
              <h3>ToDO</h3>
              <p>This is an application that helps you organize your daily tasks.</p>
              <div class="project-tags">
                  <span>React JS</span>
                  <span>CSS</span>
                  <span>HTML</span>
                  <span>JavaScript</span>
                  <span>Chakra UI</span>
              </div>
              <span class="project-year">2022</span>
          </div>
      </div>
      <div class="project-card">
        <img src="{% static 'img/project2.png' %}" alt="Project image">
        <div class="project-info">
            <h3>Shopy</h3>
            <p>this is an online store where you can buy jawely clothes and some amazing products.  </p>
            <div class="project-tags">
                <span>React JS</span>
                <span>CSS</span>
                <span>HTML</span>
                <span>JavaScript</span>
                <span>Tailwind</span>
                <span>Core UI</span>
                <span>PostgreSQL</span>
                <span>Express Js</span>
            </div>
            <span class="project-year">2023</span>
        </div>
    </div>
    <div class="project-card">
      <img src="{% static 'img/project3.png'' %}" alt="Project image">
      <div class="project-info">
          <h3>IssueManager</h3>
          <p>In this manager you can add some tasck and classifid for the important of the task. </p>
          <div class="project-tags">
              <span>Django</span>
              <span>CSS</span>
              <span>HTML</span>
          </div>
          <span class="project-year">2024</span>
      </div>
  </div>

  </div>
</section>
{% endblock %}